# Channel Talk API 설정
CHANNEL_ACCESS_KEY=68883a95c1c0f08306f3
CHANNEL_ACCESS_SECRET=7c7fc51ce244238c23c6fb86c0d7583a


# 캐시 설정
CACHE_DIR=/data/cache

# 백엔드 서버 설정
PORT=8000
HOST=0.0.0.0
DOCKER_ENV=true

# 프론트엔드 설정
REACT_APP_API_BASE=http://localhost:8000/api